<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Donald Bren Hall</string>
		<key>subTitle</key>
		<string>Department of Informatics</string>
		<key>address</key>
		<string>5042 Donald Bren Hall
        Irvine, CA 92697</string>
		<key>lat</key>
		<string>33.643255</string>
		<key>lon</key>
		<string>-117.842009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ICS</string>
		<key>subTitle</key>
		<string>Information and Computer Science</string>
		<key>address</key>
		<string>6210 Donald Bren Hall
        Irvine, CA 92697</string>
		<key>lat</key>
		<string>33.644385</string>
		<key>lon</key>
		<string>-117.841603</string>
	</dict>
</array>
</plist>
